@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  background-color:"black";
  font-family: 'Poppins', sans-serif;
}


body a {
  color: white;
}

header nav{

  gap: 30px;
  font-family: 'Poppins', sans-serif;

}